:root {
    background-image: url("../img/fondo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.titulos {
    font-family: "Street", sans-serif;
    color: crimson;
    text-align: center;
}

h1 {
    font-size: 46px;
}

h2 {
    font-size: 28px;
}

/*Tabla*/

table {
    background-color: black;
    width: 600px;
    height: 800px;
    border: 10px outset rgb(237,175,5);
    border-radius: 10px;
    margin: auto;
}

th {
    background-image: url("../img/fondocabecera.jpg");
}

tr, td {
    width: 40px;
    height: 45px;
    font-family: "Street", sans-serif;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color: darkorange;
    text-align: center;
    
}

/*Tipografía*/
@font-face {
    font-family: "Street";
    src: url("../font/street.otf") format("truetype");
}

/* FORMULARIO */

#formulario {
    width: 600px;
    height: 1100px;
    border: 10px outset rgb(237,175,5);
    color: white;
    border-radius: 10px;
    background-color: black;
    margin: auto;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

legend {
    font-family: "Street", sans-serif;
    font-size: 14px;
    color: rgb(237,175,5);
}

fieldset {margin-bottom: 2rem;}

.elemento label{
    display: block;
    width: 18rem;
    margin-block: 10px;
}

.direccionInput {
    display: inline-block;
    width: 15rem;
    margin-bottom: 20px;
}

.elemento#genero{
    display: block;
}

textarea {
    display: block;
    width: 560px;
    height: 100px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    resize: none;
}

input[type=submit], input[type=reset] {
    border: 1px solid crimson;
    background-color: crimson;
    font-family: "Street", sans-serif;
    font-size: 18px;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin-left: 65px;
    margin-bottom: 10px;
}
